jsonschema
requests
vfb_connect
pysolr
navis
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
